@media only screen and (orientation:landscape){
	#header{
		padding-top:3vw;
		text-align:center;
	}
	#title{
		color:#D32F2F;
		font-size:3vw;
		font-family:Helvetica;
		margin-bottom:0;
	}
	#caption{
		color:#FFFFFF;
		font-size:1.3vw;
		font-family:Arial;
		line-height:0.5;
	}
	#contentindex{
		text-align:center;
		margin-top:5vw;
	}
	#logo{
		width:25vw;
	}
	#footer{
		text-align:center;
		margin-top:4vw;
	}
	#begin{
		background-color:#4CAF50;
		color:#212121;
		width:15vw;
		font-weight:bold;
		font-size:1.5vw;
	}
	#contentsection{
		text-align:center;
	}
	#choose{
		background-color:#4CAF50;
		color:#212121;
		width:20vw;
		font-weight:bold;
		font-size:1.5vw;
		margin-top:7vw;
	}
	#contentoffline{
		text-align:center;
		margin-top:10vw;
		color:#BDBDBD;
		font-size:1.75vw;
		font-family:Arial;
	}
}
@media only screen and (orientation:portrait){
	#header{
		padding-top:15vw;
		text-align:center;
	}
	#title{
		color:#D32F2F;
		font-size:7vw;
		font-family:Helvetica;
		margin-bottom:0;
	}
	#caption{
		color:#FFFFFF;
		font-size:3vw;
		font-family:Arial;
		line-height:0.5;
	}
	#contentindex{
		text-align:center;
		margin-top:20vw;
	}
	#logo{
		width:70vw;
	}
	#footer{
		text-align:center;
		margin-top:20vw;
	}
	#begin{
		background-color:#4CAF50;
		color:#212121;
		width:30vw;
		font-weight:bold;
		font-size:3vw;
		height:10vw;
	}
	#contentsection{
		text-align:center;
	}
	#choose{
		background-color:#4CAF50;
		color:#212121;
		width:40vw;
		height:10vw;
		font-weight:bold;
		font-size:3vw;
		margin-top:20vw;
	}
	#contentoffline{
		text-align:center;
		margin-top:50vw;
		color:#BDBDBD;
		font-size:3vw;
		font-family:Arial;
	}
}